div#mp3_player
{
    width:500px;
    height:60px; 
    background:transparent; 
    padding:5px; 
    margin:50px auto; 
    
}
div#mp3_player > div > audio
{  
    width:500px; 
    background:transparent; 
    float:left;  
    color: aliceblue;
    visibility: hidden;
}
div#mp3_player > canvas
{ 
    width:500px; 
    height:70px; 
    background-image: url("img/bg2.jpg");
    background-position-y: 180%;
    border-radius: 20px;
    float:left; 
}
/*#analyser_render.waveform {
    fill: #ff6347; /* Default color */
/*}*/
#play_pause_btn {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    margin-top: -70%;
    display: block;

    color: #fff;
    border: none;
    border-radius: 2000px;
    cursor: pointer;
    position:relative;
    background-color: rgba(255, 99, 71, 0);
    font-size: xx-large;
    transition: 0.3s;
}

#play_pause_btn:hover{
    background-image: none;
    background-color: rgba(255, 99, 71, 0.2);
    transition: 0.3s;
}

img#cover-art{
    width: 80%;
    box-shadow: 1px 1px 1px 2px rgba(255, 99, 71, 0.5);
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 20px;
}

#name{
    font-size: xx-large;
    border-image: url("img/bg2.jpg");
    color: #fff;
    margin-top: 50px;
    margin-left: 37.1%;
    display: block;
}

#price{
    font-size: xx-large;
    color: #fff;
    margin-top: 50px;
    margin-left: 45%;
    margin-bottom: 100px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
#price:hover{
    color: #ff6347;
}